<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="MHSJ.Core" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=MHSJ;User ID=sa;Password=asdzxc;" providerName="System.Data.SqlClient"/>
    <add name="MHSJEntities" connectionString="metadata=res://*/MHSJ.csdl|res://*/MHSJ.ssdl|res://*/MHSJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MHSJ;Persist Security Info=True;User ID=sa;Password=asdzxc;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ConnectionString" connectionString="Data Source=bds151529246.my3w.com;Initial Catalog=bds151529246_db;User ID=bds151529246;Password=Mhsj0715;" providerName="System.Data.SqlClient"/>
    <add name="MHSJEntities" connectionString="metadata=res://*/MHSJ.csdl|res://*/MHSJ.ssdl|res://*/MHSJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=bds151529246.my3w.com;Initial Catalog=bds151529246_db;Persist Security Info=True;User ID=bds151529246;Password=Mhsj4321;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
		
	<appSettings>
		<!-- 配置开始-->
		<!--cache cookie session 等前缀,防止与现有程序冲突,限英文,一般无需修改-->
		<add key="mhsj_siteprefix" value="mhsj"/>
		<!-- 程序路径,安装在根目录为"/",安装在blog子目录，则修改为"/blog/" -->
		<add key="mhsj_sitepath" value="/"/>
		<!--数据库路径,一般无需修改-->
		<add key="mhsj_dbconnection" value="app_data/mhsj.mdb"/>
		<!-- 配置结束-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
    <httpRuntime targetFramework="4.0" />
    <compilation debug="true" targetFramework="4.0">

      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

      </assemblies>

    </compilation>
    
		<!--默认错误页设置,mode:具有On,Off,RemoteOnly 3种状态。On表示始终显示自定义的信息; Off表示始终显示详细的asp.net错误信息; RemoteOnly表示只对不在本地Web服务器上运行的用户显示自定义信息.defaultRedirect:用于出现错误时重定向的URL地址-->
    <customErrors mode="RemoteOnly" defaultRedirect="/Error.aspx">
      <error statusCode="404" redirect="/Error.aspx"/>
    </customErrors>
		<authentication mode="Windows">
			<!--<forms name=".loachs_siteprefixamdin" slidingExpiration="true" timeout="30" cookieless="AutoDetect" ticketCompatibilityMode="Framework40" enableCrossAppRedirects="true" loginUrl="~/admin/Login.aspx" defaultUrl="~/" />-->
			<forms loginUrl="~/Admin/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>

    <httpHandlers>
      <add verb="GET,HEAD" path="*.html" type="System.Web.StaticFileHandler"/>
    </httpHandlers>
    
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
   
    
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
	</system.webServer>


</configuration>
