@charset "utf-8";
/*头部*/
.header-logo{height:84px;background:url(../images/topbg.png) repeat-x left top;width:100%;}
.logo {
      vertical-align: middle;
  position: relative;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  min-height: 45px;
  max-height: 80px;
    top: 12px;
}
.main-center {
    text-align: center;
}
/*字体*/
.ziti li{height:40px;background:url(../images/li.png) no-repeat left center;line-height:40px;text-indent:18px;clear:left;font:12px "宋体";color:#333;}

/*文字详情*/
.wtu{border:1px solid #8e0528;padding:21px;height:auto;margin:15px 30px;}
.xiangqing{ float: left;margin-right: 30px;width: 260px;}
.wtu p span{  font: 16px "微软雅黑";color: #101010;}
.pinyin{  font: 16px "微软雅黑";color: #101010;}
